
<app-item-component  (sendDatatoListe)="processListe($event)" [nameItem]="'ala bouslama'"></app-item-component>
<app-item-component (sendDatatoListe)="processListe($event)" [nameItem]="'ahmed flen'" [path]="'rotating_card_profile3.png'" [description]="'22222222222222222222222222222'"></app-item-component>
<app-item-component (sendDatatoListe)="processListe($event)" [nameItem]="'mohamed ben flen '" [path]="'rotating_card_profile2.png'" [description]="'33333333333333333333333333333'"></app-item-component>
